.wizard-container {
    @media screen and (min-width: 800px) {
        padding: 0 100px;
    }

    .wizard-label {
        &.invalid {
            color: red;
        }
    }
}

.default-control-width {
    width: 100%;
    max-width: 400px;
}

@media screen and (min-width: 800px) {
    form mat-form-field + mat-form-field {
        margin-left: 8px;
    }
}

.card-list-horizontal-6 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    > mat-card {
        margin: 10px;
    }

    flex-direction: row;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        width: 100%;
    }
}

.toolbar-spacer {
    flex: 1 1 auto;
  }

.accordion-headers-align {
    .mat-expansion-panel-header-description {
        justify-content: space-between;
        flex-grow: 0;
    }

    .mat-mdc-form-field + .mat-mdc-form-field {
        margin-left: 8px;
    }
}


mat-expansion-panel-header.invalid {
    .mat-expansion-panel-header-title,.mat-expansion-panel-header-description {
        color: red;
    }
}