<mat-toolbar>
  <span>Report an Issue</span>
</mat-toolbar>

<div class="wizard-container">

  <mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="productFormGroup" [editable]="false">
      <form [formGroup]="productFormGroup">
        <ng-template matStepLabel>Product Confirmation</ng-template>
        <div>
          <mat-form-field class="default-control-width">
            <mat-label>Product Brand</mat-label>
            <mat-select formControlName="brand">
              <mat-option value="Simponi">Simponi</mat-option>
              <mat-option value="Tremfya">Tremfya</mat-option>
              <mat-option value="Stelara">Stelara</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="default-control-width">
            <mat-label>Lot Number</mat-label>
            <input matInput placeholder="Lot Number" formControlName="lotNumber">
            <mat-hint>You can find this on the product packaging.</mat-hint>
          </mat-form-field>
        </div>
        <div style="margin-top: 20px">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="contactInformationFormGroup" [editable]="true">
      <form [formGroup]="contactInformationFormGroup">
        <ng-template matStepLabel>Contact Information</ng-template>
        <div>
          <mat-form-field class="default-control-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>

          <mat-form-field class="default-control-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </div>

        <div style="margin-top: 20px">
          <mat-form-field class="default-control-width">
            <mat-label>Street Address</mat-label>
            <input matInput placeholder="Street Address" formControlName="streetAddress">
          </mat-form-field>
          <mat-form-field class="default-control-width">
            <mat-label>Street Address 2</mat-label>
            <input matInput placeholder="Street Address 2" formControlName="streetAddress2">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="default-control-width">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
          <mat-form-field class="default-control-width">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" formControlName="state">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="default-control-width">
            <mat-label>Zip/Postal Code</mat-label>
            <input matInput placeholder="Zip/Postal Code" formControlName="zipPostal">
          </mat-form-field>
        </div>
        <div style="margin-top: 20px">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="problemSummaryFormGroup" [editable]="false" (interacted)="onProblemSummarySubmitted()">
      <form [formGroup]="problemSummaryFormGroup">
        <ng-template matStepLabel>Problem Summary</ng-template>
        <div>
          <mat-form-field class="default-control-width">
            <mat-label>What is your role?</mat-label>
            <mat-select formControlName="userType">
              <mat-option [value]="UserTypes.Patient">Patient</mat-option>
              <mat-option [value]="UserTypes.Doctor">Doctor</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="min-width: 400px; width: 80%">
            <mat-label>Describe your issue</mat-label>
            <textarea matInput formControlName="issueVerbatim"></textarea>
            <mat-hint>Please include any details that may be relevant.</mat-hint>
          </mat-form-field>
        </div>
        <div style="margin-top: 10px">
          <app-image-upload formControlName="images" text="Upload images (optional)"></app-image-upload>
        </div>
        <div style="margin-top: 20px">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="problemDetailsFormGroup" [editable]="true">
      <form [formGroup]="problemDetailsQuestionsFormGroup">
        <ng-template matStepLabel>Problem Details</ng-template>
        <div *ngFor="let question of problemDetailsQuestions">
          <ng-container *ngIf="question.type === 'free-text'">
            <mat-form-field style="min-width: 400px; width: 80%">
              <mat-label>{{ question.questionText }}</mat-label>
              <textarea matInput [formControlName]="question.id"></textarea>
              <mat-hint>{{ question.helpText }}</mat-hint>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="question.type === 'multiple-choice'">

            <mat-form-field class="default-control-width">
              <mat-label>{{ question.questionText }}</mat-label>
              <mat-select [formControlName]="question.id">
                <mat-option *ngFor="let opt of question.options" [value]="opt.name">{{ opt.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="question.type === 'image-map'">
            <label *ngIf="question.questionText">{{ question.questionText }}</label>
            <app-image-map [imageSrc]="question.imageUrl" [areas]="question.areas"
              [formControlName]="question.id"></app-image-map>
          </ng-container>
        </div>

        <div style="margin-top: 20px">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>

      <section>
        <h3>Product</h3>

        <dl>
          <dt>Brand</dt>
          <dd>{{ productFormGroup.controls["brand"].value }}</dd>

          <ng-container *ngIf="productFormGroup.controls['lotNumber'].value as lotNumber">
            <dt>Lot Number</dt>
            <dd>{{ lotNumber }}</dd>
          </ng-container>
        </dl>
      </section>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>